body {
    background-color: #282c34;
}

.Copy-button {
    background-color: #00b2c9;
    color: white;
    text-align: center;
    display: inline-flex;
    padding: 26px 45px;
    font-size: xx-large;
    border: 3px solid #00b2c9;
    justify-content: center;
    min-width: 210px;
    width: 0;
    height: 93px;
    margin-top: 60px;
}

@media (min-width: 871px) {
    .Copy-button {
        margin-top: 0;
    }
}
